#profilelink{
text-decoration: none;
color: inherit;
}
#content{
  width: 85%;
  padding: 20px;
  color: purple;
}
h1{
  direction: rtl;
  text-align: right;
}
h2 {
  direction: rtl;
  color: #7e1a90;
}
h3{
  color: black;
  text-align: center;
  margin-top: 2px;
}

p {
  direction: rtl;
  font-family:Arial, Helvetica, sans-serif;
  color: #333;
}
#pstudent{
  color: #ccc;
}
.boxes{
  display: flex;
  margin-top: 6%;
 
}
.box1{
  background-color: white;
  flex:3;
  vertical-align: middle;
  width: 50%;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-right: 20px;


}
.box2{
  background-color: white;
  flex: 1;
  vertical-align: middle;
  width: 20%;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
}

.form-group {
  direction: rtl;
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"] {
  width: 98%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;

}

.submit-button {
  width: 20%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 5%;
}
.submit-button:hover {
  background-color: #45a049;
}
.detail-button {
  width: 40%;
  padding: 10px;
  background-color: white;
  color: rgb(182, 177, 177);
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.detail-button:hover {
  background-color: #704971;
}
.profile-image img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}