.results-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.result-box {
    background-color: #9d5bb5;
    color: white;
    padding: 20px;
    margin: 10px;
    text-decoration: none;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    flex: 1 1 calc(33.333% - 20px); /* سه ستون در دسکتاپ */
    max-width: calc(33.333% - 20px);
    transition: background-color 0.3s;
}

.result-box:hover {
    background-color: #45004d; /* تغییر رنگ هنگام هاور کردن */
}

.result-box h3 {
    margin: 0;
    font-size: 24px;
}

@media screen and (max-width: 768px) {
    .result-box {
        flex: 1 1 calc(50% - 20px); /* دو ستون در تبلت */
        max-width: calc(50% - 20px);
    }
}

@media screen and (max-width: 480px) {
    .result-box {
        flex: 1 1 100%; /* یک ستون در موبایل */
        max-width: 100%;
    }
}
