#content{
    margin-left:50px;
}
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0; /* تنظیم سایدبار به سمت راست */
    background-color: #00796b; /* آبی تیره برای سایدبار */
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #004d40;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    left: 25px; /* تنظیم دکمه بستن به سمت چپ */
    font-size: 36px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #00796b;
    color: white;
    padding: 10px 15px;
    border: none;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 2;
}

.openbtn:hover {
    background-color: #004d40;
}

#main {
    transition: margin-right .5s;
    padding: 16px;
    margin-right: 50px; /* فاصله پیش‌فرض محتوا از سمت راست */
}

.cards-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    width: 100%; /* عرض کامل */
}

.card-img {
    width: 10%;
    height: auto;
    margin-bottom: 10px;
}

.card-title {
    margin: 5px 0;
    font-size: 18px;
}

.card-status1{
    color: red;
}
.card-status2{
    color: grey;
}
.card-status3{
    color: green;
}

@media screen and (max-width: 600px) {
    .sidebar {
        width: 0; /* سایدبار بسته پیش‌فرض در حالت موبایل */
    }

    .openbtn {
        right: 10px;
    }

    #main {
        margin-right: 0; /* عدم فاصله پیش‌فرض محتوا در حالت موبایل */
    }
}
